avalanche-lib==0.2.1
matplotlib
numpy==1.22.3
pandas
pytorchcv
scikit-learn
scipy
stack-data
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
torch
torchmetrics
torchvision
